<!DOCTYPE html>
<html>
  <head>
    <title>DisArray</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript"> 
      window.desktop = "<%= image_url("splash/desktop.svg") %>"
      window.android = "<%= image_url("splash/android.svg") %>"
      window.gamecontroller = "<%= image_url("splash/gamecontroller.svg") %>"
      window.headphones = "<%= image_url("splash/headphones.svg") %>"
      window.iphone = "<%= image_url("splash/iphone.svg") %>"
      window.laptop = "<%= image_url("splash/laptop.svg") %>"
      window.smallbox = "<%= image_url("splash/smallbox.svg") %>"
      window.discordiconbackground = "<%= image_url("loginpage/discordiconbackground.svg") %>"
      window.discordicon = "<%= image_url("discordlogoblurple.svg") %>"
    </script>
    


  </head>

  <body>
    <%= yield %>
  </body>
</html>
